<!DOCTYPE html>
<html>
  <head>
    <title><%= body %></title>
  </head>
  <body>
    <h1><%= round1 %></h1>
    <h3>Release Date:  <%= round2 %></h3>
    <h4><em>Director: <%= round3 %></em></h4>
    <p><%= round4 %></p>
    <br />
    <h2>Other Movies</h2>
  </body>
</html>